@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

// rwd
$breakpoints: (
    sm: 414px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);

@mixin rwd($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 1);
}

.wrap {
    inline-size: 80%;
    min-inline-size: 400px;
    max-inline-size: 500px;
    text-align: center;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.35);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    border-block-start: 1px solid rgba(255, 255, 255, 0.5);
    border-inline-start: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    padding-block: 12px;
    padding-inline: 9px;

    h1 {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 5rem;
        letter-spacing: 0.1rem;

        @include rwd(md) {
            font-size: 1.4rem
        }
    }

    .wrap-p {

        p {
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 0.3rem;

            @include rwd(md) {
                font-size: 1.6rem
            }
        }
    }

    button {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        border: none;
        box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
        background-color: hsla(0, 0%, 100%, 0.1);
        border-block-start: 1px solid rgba(255, 255, 255, 0.5);
        border-inline-start: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 0.5rem;
        cursor: pointer;
        padding-block: 12px;
        padding-inline: 16px;  
        margin-block-start: 2rem;
        margin-block-end: 1.8rem; 
    }
}